{{!-- <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px" href="https://unsplash.com/@yvettedewit?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from Yvette de Wit"><span style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg></span><span style="display:inline-block;padding:2px 3px">Yvette de Wit</span></a> --}}
<section id="HERO">
    <div class="hero-area-container">
        <div class="hero-area">
            <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="https://www.tomorrowland.com/global/img/header-background-2018.jpg" uk-img>
                {{!-- <h1 class="banner-text">Tomorrowland</h1> --}}
            </div>
        </div>
    </div>
</section>

<section id="BODY">
    <div class="body-container">
        <div class="body">
            <div class="uk-grid" style="">
                <div class="uk-width-2-3">

                    {{!--  --}}
                    <div class="page-about-container festival-page-section">
                        <div class="page-about-header">
                            <h1>About</h1>
                        </div>
                        <div class="page-about-content">
                            The People of Tomorrow. We believe in enjoying life to the fullest without having to compromise everything. 
                            We are responsible for the generation of tomorrow and respect each other and Mother Nature. 
                            We believe... in a commitment to create a reality that relates positively with Mother Nature and contributes to the well-being of the next generations.
                            Let’s engage with each other and do something good today, for which we will be grateful for tomorrow.
                        </div>
                    </div>
                    {{!--  --}}

                    <div class="page-images-container festival-page-section">
                        <div class="page-images-header">
                            <h1>Images</h1>
                        </div>
                        <div class="page-images-album">

                        </div>
                    </div>
                    
                    <div class="page-lineup-container festival-page-section">
                        <div class="page-lineup-header">

                        </div>
                        <div class="page-lineup-data">
                            <div class="page-lineup-followed-artists">
                                <div class="page-lineup-followed-artists-header">
                                    <h2>Artists you follow</h2>
                                </div>
                                <div class="page-lineup-followed-artists-result">
                                    <div class="uk-child-width-1-4@m" uk-grid>

                                        {{#each festivalLineup}}
                                            <div>
                                                <div class="uk-card uk-card-default">
                                                    <div class="uk-card-media-top">
                                                        <img src="{{artistProfilePicture}}" alt="">
                                                    </div>
                                                    <div class="uk-card-body lineup-card-body">
                                                        <h3 class="uk-card-title lineup-card-name">
                                                            {{artistName}}
                                                        </h3>
                                                        <div class="uk-column-1-3 card-info">
                                                            <div class="festival-card-stats festival-card-stats-region">
                                                                {{genre}}
                                                            </div>
                                                            
                                                            <div class="festival-card-stats festival-card-stats-genre">
                                                                {{artistFollowers}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}

                                    </div>
                                </div>
                            </div>
                            <div class="page-lineup-all-artists">
                                <div class="page-lineup-all-artists-header">
                                    <h2>All Artists</h2> 
                                    <span class="lineup-sort-type">(A-Z)</span>
                                </div>
                                <div class="page-lineup-all-artists-result">

                                    <div class="uk-child-width-1-4@m" uk-grid>
                                        {{#each festivalLineup}}
                                            <div>
                                                <div class="uk-card uk-card-default">
                                                    <div class="uk-card-media-top">
                                                        <img src="{{artistProfilePicture}}" alt="">
                                                    </div>
                                                    <div class="uk-card-body lineup-card-body">
                                                        <h3 class="uk-card-title lineup-card-name">
                                                            {{artistName}}
                                                        </h3>
                                                        <div class="uk-column-1-3 card-info">
                                                            <div class="festival-card-stats festival-card-stats-region">
                                                                {{genre}}
                                                            </div>
                                                            
                                                            <div class="festival-card-stats festival-card-stats-genre">
                                                                {{artistFollowers}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/each}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        
                    </div>

                </div>
                <div class="uk-width-1-3 festival-page-side-menu">
                    <h3>More Info.</h3>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#each responseObject}}
    <div>
        Key: {{@key}} Value = {{this.name}}
    </div>
{{/each}} --}}
